aiocontextvars==0.2.2
beautifulsoup4==4.9.1
bs4==0.0.1
contextvars==2.4
fake-headers==1.0.2
html5lib==1.1
immutables==0.14
jieba==0.42.1
Jinja2==2.11.2
loguru==0.5.1
MarkupSafe==1.1.1
mysqlclient==1.4.6
numpy==1.19.0
pandas==1.0.5
pkg-resources==0.0.0
prettytable==0.7.2
pyecharts==1.8.1
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
selenium==3.141.0
simplejson==3.17.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.5
webencodings==0.5.1
